<div class="container mt-5">
    <div class="row p-4 justify-content-between align-items-center">
        <div class="col-12 col-md-4">
            <img class="img-fluid rounded-circle mx-auto d-block w-75" [src]="myUser?.image"
                [alt]="'Image picture of:' + myUser?.first_name ">
        </div>
        <div class="col-12 col-md-8 p-5 border-start border-secondary border-3">
            <ul>
                <li class="list-group-item h2 my-4">{{myUser?.first_name}}</li>
                <li class="list-group-item h2 my-4">{{myUser?.last_name}}</li>
                <li class="list-group-item my-4"><span class="fw-bold">Username: </span>
                    <span>{{myUser?.username}}</span>
                </li>
                <li class="list-group-item my-4"><span class="fw-bold">Email: </span>
                    <span>{{myUser?.email}}</span>
                </li>
            </ul>
            <button class="btn btn-danger mt-4 ms-4" (click)="deleteUsr(myUser?._id)">Delete</button>
            <button class="btn btn-warning mt-4 ms-2" [routerLink]="['/update', myUser?._id]">Update</button>
            <button class="btn btn-dark mt-4 ms-2" [routerLink]="['/home']">Back to home</button>
        </div>
    </div>
</div>