<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img class="img-fluid rounded-circle mx-auto d-block w-60"
                src="https://assets.stickpng.com/images/585e4bc4cb11b227491c3395.png" alt="user picture">
        </div>
        <hr>
        <div class="col-sm-6">
            <ul>
                <li class="list-group-item h3">First Name</li>
                <li class="list-group-item h3">Last Name</li>
                <li class="list-group-item"><span class="fw-bold">Username: </span>
                    <span>username</span>
                </li>
                <li class="list-group-item"><span class="fw-bold">Email: </span>
                    <span>email</span>
                </li>
            </ul>
            <button type="submit" class="btn btn-dark">Delete</button>
            <a class="btn btn-dark ms-2" [routerLink]="['/update/:userId']">Update</a>
            <a class="btn btn-light ms-2" [routerLink]="['/home']">Back</a>
        </div>

    </div>
</div>