<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card list-group-item-white">
                <div class="card-body">
                    <div class="col">
                        <div class="row-sm-4 d-flex justify-content-center">
                            <img class="contact-img"
                                src="https://assets.stickpng.com/images/585e4bc4cb11b227491c3395.png"
                                alt="user picture">
                        </div>
                        <div class="card-text d-flex mt-2 mb-2 align-items-center justify-content-center">
                            Nombre Usuario Completo
                        </div>
                        <div class="row-sm-1 d-flex justify-content-between">
                            <a class="btn btn-light" href="home/view/:userId">
                                <i class="fa fa-magnifying-glass fa-2x"></i></a>
                            <a class="btn btn-light" href="home/update/:userId">
                                <i class="fa fa-arrows-rotate fa-2x"></i></a>
                            <a class="btn btn-light" href="">
                                <i class="fa fa-trash-can fa-2x"></i></a>
                        </div>
                        <div class="row-sm-1 d-flex justify-content-between">
                            <a class="text-a" href="home/view/:userId">View Details</a>
                            <a class="text-a" href="home/update/:userId">Update</a>
                            <a class="text-a" href="">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>