<div class="card shadow">
    <div class="card-body">
        <div class="col">
            <div class="row-sm-4 d-flex justify-content-center">
                <img class="img-fluid rounded-circle mx-auto d-block w-50" [src]="myUser.image" alt="user picture">
            </div>
            <div class="card-text d-flex mt-2 mb-2 align-items-center justify-content-center">
                {{myUser.first_name}} {{myUser.last_name}}
            </div>
            <div class="row-sm-1 d-flex justify-content-around">
                <a class="btn btn-light" [routerLink]="['/view', myUser.id]">
                    <i class="fa fa-magnifying-glass fa-2x"></i></a>
                <a class="btn btn-light" [routerLink]="['/update', myUser.id]">
                    <i class="fa fa-arrows-rotate fa-2x"></i></a>
                <a class="btn btn-light" routerLink="">
                    <i class="fa fa-trash-can fa-2x"></i></a>
            </div>
            <div class="row-sm-1 d-flex justify-content-around">
                <a class="text-a" [routerLink]="['/view', myUser.id]">View Details</a>
                <a class="text-a" [routerLink]="['/update', myUser.id]">Update</a>
                <a class="text-a" [routerLink]="">Delete</a>
            </div>
        </div>
    </div>
</div>