<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold">Add new user</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <form>
                <div class="mb-3">
                    <label for="first_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="first_name">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="last_name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">Picture</label>
                    <input type="text" class="form-control" id="photo" placeholder="photo URL">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
                <a class="btn btn-light ms-2" href="home">Close</a>
            </form>
        </div>
        <div class="col-sm-5">
            <img class="img-fluid rounded-circle mx-auto d-block w-50"
                src="https://assets.stickpng.com/images/585e4bc4cb11b227491c3395.png" alt="user picture">
        </div>
    </div>
</div>