input.ng-invalid.ng-touched{
    border-bottom: 3px solid var(--border-color-invalid);
}

input.ng-valid.ng-touched{
    border-bottom: 3px solid var(--border-color-valid);
}

.error{
    color: var(--error-text);
    font-size: 12px;
}